<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".MoonPhaseApplication"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.DeviceDefault.NoActionBar">
        
        <!-- The Target Activity: ALWAYS enabled, but NOT the launcher directly -->
        <activity
            android:name="com.urmanac.moonphase.MainActivity"
            android:exported="true">
        </activity>

        <!-- Default Alias: The initial launcher entry point -->
        <activity-alias
            android:name="com.urmanac.moonphase.MainActivityDefault"
            android:enabled="true"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:targetActivity="com.urmanac.moonphase.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <!-- Phased Aliases -->
        <activity-alias
            android:name="com.urmanac.moonphase.MainActivityFull"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_full"
            android:targetActivity="com.urmanac.moonphase.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name="com.urmanac.moonphase.MainActivityWaxingCrescent"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_waxing_crescent"
            android:targetActivity="com.urmanac.moonphase.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name="com.urmanac.moonphase.MainActivityFirstQuarter"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_first_quarter"
            android:targetActivity="com.urmanac.moonphase.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name="com.urmanac.moonphase.MainActivityWaxingGibbous"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_waxing_gibbous"
            android:targetActivity="com.urmanac.moonphase.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name="com.urmanac.moonphase.MainActivityWaningGibbous"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_waning_gibbous"
            android:targetActivity="com.urmanac.moonphase.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name="com.urmanac.moonphase.MainActivityLastQuarter"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_last_quarter"
            android:targetActivity="com.urmanac.moonphase.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name="com.urmanac.moonphase.MainActivityWaningCrescent"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_waning_crescent"
            android:targetActivity="com.urmanac.moonphase.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

    </application>

</manifest>
